[submodule "tests/3rdparty/pdfplumber"]
	path = samples/3rdparty/pdfplumber
	url = https://github.com/dhdaines/pdfplumber.git
[submodule "tests/3rdparty/pdf.js"]
	path = samples/3rdparty/pdf.js
	url = https://github.com/mozilla/pdf.js.git
[submodule "playa/cmap/resources"]
	path = playa/cmap/resources
	url = https://github.com/adobe-type-tools/cmap-resources.git
[submodule "samples/3rdparty/safedocs"]
	path = samples/3rdparty/safedocs
	url = https://github.com/pdf-association/safedocs.git
[submodule "samples/3rdparty/veraPDF-corpus"]
	path = samples/3rdparty/veraPDF-corpus
	url = https://github.com/veraPDF/veraPDF-corpus.git
