name: Test
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
      - name: Install Hatch
        uses: pypa/hatch@install
      - name: Check types with mypy
        run: hatch run types:check
  test:
    needs: check
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      - name: Install Hatch
        uses: pypa/hatch@install
      - name: Compile with mypyc
        run: hatch run types:compile
      - name: Run tests
        run: hatch test --cover
  test-3.8:
    needs: check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.8"
      - name: Run tests
        run: |
          pip install -e .
          pip install pytest pytest-xdist
          pytest -n auto
