name: Test
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: windows-latest
    env:
      HATCH_PYTHON: python3.14  # WTF, Hatch, why you not use latest python?
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.14"
      - name: Install Hatch
        uses: pypa/hatch@install
      - name: Test mypyc compilation
        run: hatch run types:compile
      - name: Save failed artifats
        if: always()
        uses: actions/upload-artifact@v4
        with:
          path: build
      - name: Run tests
        run: hatch test -py 3.14
